{% extends 'base.html' %}
{% block content %}
    <p></p>
    <h2>Add Category</h2>
    <p></p>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" rows="3"></textarea>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
{% endblock %}