{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <p></p>
    <h2>My market</h2>
    <p></p>
    <div class="card-group">
        {% for product in products %}
            <div class="card">
                <img class="card-img-top" src="{{ product.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.category }}</p>
                    <p class="card-text">{{ product.cost }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
